[Unit]
Description=CR1140 native Rust app
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/cds-apps/demo /dev/input/event0
Restart=on-failure

[Install]
WantedBy=multi-user.target
